body {
  font-family: "Poppins", sans-serif;
  background-color: #c8e0f4;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #fff;
  margin-top: 100px;

  p {
    color: #fff;
  }
}

label {
  margin-top: 10px;
}

.form-control {
  background-color: #ffffff;
  border-color: #5ca4df;
}
