.card-list {
  margin-bottom: 10px;

  img {
    max-height: 80px;
    border-radius: 8px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666;
  }

  h2 {
    font-size: 16px;
    color: #131313;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    color: #131313;
  }

  p {
    font-size: 14px;
    color: #666;
  }

  .account-card-title {
    font-size: 16px;
    color: #131313;
  }

  .account-card-subtitle {
    font-size: 14px;
    font-weight: normal;
    color: #4a4a4a;
  }

  .card-status-orders {
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #5ca4df;
    border-radius: 10px 10px 0px 0px;
  }

  .card-information-orders {
    a {
      text-decoration: none;
    }

    p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
}
