.page-dashboard-admin {
  #page-content-wrapper {
    background: #c8e0f4;
    min-width: 100vw;
  }

  #sidebar-wrapper {
    margin-top: 50px;
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    background-color: #fff;

    .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }

    .list-group {
      width: 15rem;
    }
  }

  #wrapper {
    &.toggled {
      #sidebar-wrapper {
        margin-left: 0;
      }
    }
  }

  .navbar-store {
    margin-top: 0;
    background-color: #c8e0f4;
    box-shadow: 0px 4px 5px #cacad1;

    @include media-breakpoint-up(md) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  #menu-toggle {
    background: #5ca4df;
    border: #c8e0f4;
  }

  .list-group-item {
    border: 0;
    font-size: 16px;
    color: #d6d6d6;

    &.active {
      background: linear-gradient(
        270deg,
        rgba(200, 224, 244, 100) 2%,
        rgba(92, 164, 223, 100) 100%
      );
      border-right: 4px solid #5ca4df;
      color: #fff;
    }
  }

  @include media-breakpoint-up(md) {
    #sidebar-wrapper {
      margin-left: 0;
      margin-top: 0px;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper {
      &.toggled {
        #sidebar-wrapper {
          margin-left: -15rem;
        }
      }
    }
  }

  .section-content {
    margin-top: 100px;

    @include media-breakpoint-up(md) {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }

    h5 {
      font-size: 18px;
      font-weight: 500;
      color: #131313;
    }

    .dashboard-heading {
      .dashboard-title {
        font-size: 24px;
        font-weight: 500;
        color: #131313;
      }

      .dashboard-subtitle {
        font-size: 16px;
        font-weight: normal;
        color: #4a4a4a;
      }

      hr {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .dashboard-content {
    }
  }
}
