.page-success {
  .row-login {
    min-height: 25vh;
  }

  .success {
    h2 {
      font-size: 28px;
      font-weight: normal;
      color: #131313;
    }

    .btn-success {
      @include button-variant(#f5952f, transparent);
      color: #fff;
    }

    .btn-signup {
      border: 2px solid #f5952f;
      color: #f5952f;
    }
  }
}
